{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="wrapper">
      <div class="title-text">
        <div class="title login">Login</div>
      </div>
      <div class="form-container">
        <div class="form-inner">
          <form action="" method ="POST" class="login">
            {% csrf_token %}
            <div class="field">
              <input type="text" placeholder="Email Address" name="user_login">
            </div>
            <div class="field">
              <input type="password" placeholder="Password" name="password_login">
            </div>
            <div class="pass-link"><a href="#">Forgot password?</a></div>
            <div class="field btn">
              <div class="btn-layer"></div>
              <input type="submit" value="Login">
            </div>
            <div class="signup-link">Not a member? <a href="/register">Signup now</a></div>
          </form>
        </div>
      </div>
    </div>


    {% for msg in messages %}
    <h2>{{msg}}</h2>
    {% endfor %}

{% endblock %}
