{% load static %}

<nav class="navbar navbar-expand-lg bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Public H.S.S</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if user.is_authenticated %}
                <li class="nav-item">
          <a class="nav-link active" > User:{{user.username}}</a>
        </li>
                <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/logout">LogOut</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/register">Register</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link disabled"> </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Department
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Outline_of_academic_disciplines#Humanities">Humanities</a></li>
            <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Outline_of_academic_disciplines#Social_science">Social Science</a></li>
            <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Outline_of_academic_disciplines#Natural_science">Natural Science</a></li>
            <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Outline_of_academic_disciplines#Formal_science">Formal Science</a></li>
            <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Outline_of_academic_disciplines#Applied_science">Applied Science</a></li>
          </ul>
      </ul>
    </div>
  </div>
</nav>